* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
}

h5 {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

p {
    font-size: 0.8rem;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    z-index: 2;
}

.presentation {
    padding-top: 20px;
}

#qoutation {
    position: relative;
    z-index: 1;
    float: right;
}

.grid-card {
    display: flex;
    margin: 0px;
    padding-bottom: 15px;
}

body {
    background: #EDF2F8;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 80vw;
    height: auto;
    gap: 15px;
    margin-top: 5rem;
    grid-template-areas: 
    'section1 section1 section2 section3'
    'section1 section1 section2 section3'
    'section4 section5 section5 section3'
    'section4 section5 section5 section3'
    ;
}

.small-img {
    border-radius: 50%;
    border: 2px solid beige;
    margin: 10px;
    max-width: 100%;
    height: auto;
}

.section1, .section2, .section3, .section4, .section5{
    padding: 1.5rem;    
    border-radius: 10px;
    color: aliceblue;
}

.section1 {
background-color: #733FC8;
grid-area: section1;
position: relative;
}

.section2 {
background-color: #49556B;
grid-area: section2;
}

.section3 {
background-color: white;
color: black;
grid-area: section3;
}

.section4 {
background-color: white;
color: black;
grid-area: section4;
}

.section5 {
background-color: black;
color: white;
grid-area: section5;
}

@media (min-width: 400px) and (max-width: 900px) {
 
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80vw;
        height: 60vh;
        gap: 15px;
        margin-top: 5rem;
        grid-template-areas: 
        'section1'
        'section2'
        'section3'
        'section3'
        'section4'
        'section5'
        ;
    }

    }


@media (min-width: 900px) and (max-width: 1200px) {
 
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 98vw;
        height: auto;
        gap: 5px;
        margin-top: 5rem;
        grid-template-areas: 
        'section1 section1 section2 section3'
        'section1 section1 section2 section3'
        'section4 section5 section5 section3'
        'section4 section5 section5 section3'
        ;
    }

    .grid-card {
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    .section1, .section2, .section3, .section4, .section5{
        padding: 1rem;    
        border-radius: 10px;

    }


    }

    



 
    