* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}



.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container2 {
    display: grid;
    place-self: center;
    grid-template-columns: repeat(4, 1fr);
    width: 80vw;
    height: 80vh;
    gap: 15px;
    margin-top: 5rem;
    grid-template-areas: 
    'section1 section1 section2 section3'
    'section1 section1 section2 section3'
    'section4 section5 section5 section3'
    'section4 section5 section5 section3'
    ;
}



.section1 {
color: aliceblue;
background-color: black;

grid-area: section1;
}

.section2 {
color: aliceblue;
background-color: black;

grid-area: section2;
}

.section3 {
color: aliceblue;
background-color: black;

grid-area: section3;
}

.section4 {
color: aliceblue;
background-color: black;

grid-area: section4;
}

.section5 {
color: aliceblue;
background-color: black;

grid-area: section5;
}


@media screen (min-width: 600px) {    

    .grid-container2 {
        display: grid;
        place-self: center;
        grid-template-columns: repeat(1, 1fr);
        width: 80vw;
        height: 80vh;
        gap: 15px;
        margin-top: 5rem;
        grid-template-areas: 
        'section1 section1 section2 section3'
        'section1 section1 section2 section3'
        'section4 section5 section5 section3'
        'section4 section5 section5 section3'
        ;
    }
    
}